<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    .btn {
        width: 100%;
    }
    #daftarH2 {
        margin-top: 100px;
    }
    </style>
</head>
<body>
    <form action="/admin" method="get">
        <input type="submit" value="Dashboard" class="btn btn-success">
    </form>
    <h2 id="daftarH2">Daftar Order</h2>
    <table class="table table-hover">
        <thead>
            <th>Nomor</th>
            <th>Username</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Total</th>
            <th>Aksi</th>
        </thead>
        <tbody>
            <% if(obj.length > 0) { %>
                <% var i = 1 %>
                <% obj.forEach(function(obat) { %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= obat.username %></td>
                        <td><%= obat.nama %></td>
                        <td><%= obat.harga %></td>
                        <td><%= obat.jumlah %></td>
                        <td><%= parseInt(obat.harga) * parseInt(obat.jumlah) %></td>
                        <td>
                            <form action="/verification" method="post">
                                <input type="text" name="id" value="<%= obat.id %>" hidden>
                                <input type="text" name="idObat" value="<%= obat.idObat %>" hidden>
                                <input type="text" name="jumlah" value="<%= obat.jumlah %>" hidden>
                                <input type="submit" value="Verifikasi" class="btn btn-info">
                            </form>
                            <form action="/delete-order" method="post">
                                <input type="text" name="id" value="<%= obat.id %>" hidden>
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    <% i++ %>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="5" class="text-center">Tidak ada order</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>