<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
    body {
        width: 80%;
        margin: auto;
    }
    #dashboardH2 {
        margin-top: 100px;
    }
    #btnSubmit {
        width: 100%;
    }
    #tableH2 {
        margin-top: 100px;
    }
    btn {
        width: 100%;
    }
    </style>
</head>
<body>
    <h2 id="dashboardH2">Admin Dashboard</h2>
    <form action="/create-obat" method="POST">
        <input class="form-control" type="text" name="nama" placeholder="Nama" id="validationCustom01" required>
        <input class="form-control" type="number" name="jumlah" placeholder="Jumlah" id="validationCustom02" required min="1">
        <input class="form-control" type="number" name="harga" placeholder="Harga" id="validationCustom03" required min="50">
        <input class="btn btn-primary" type="submit" value="Submit" id="btnSubmit">
    </form>
    <h2 id="tableH2">Daftar Obat</h2>
    <table class="table table-hover">
        <thead>
            <th>Nomor</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Aksi</th>
        </thead>
        <tbody>
            <% if(readObat) { %>
                <% var i = 1 %>
                <% readObat.forEach(function(obat) { %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= obat.nama %></td>
                        <td><%= obat.harga %></td>
                        <td><%= obat.jumlah %></td>
                        <td>
                            <form action="/delete-obat" method="post">
                                <input type="text" name="id" value="<%= obat.id %>" hidden>
                                <input type="submit" value="Delete" class="btn btn-success">
                            </form>
                            <form action="/update-obat/<%= obat.id %>" method="get">
                                <input type="submit" value="Update" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    <% i++ %>
                <% }) %>
            <% } else { %>
                <h3>Tidak ada obat</h3>
            <% } %>
        </tbody>
    </table>
    <form action="/logout" method="get">
        <input type="submit" value="Keluar" class="btn btn-danger">
    </form>
    <form action="/daftar-order" method="get">
        <input type="submit" value="Daftar Order" class="btn btn-warning">
    </form>
    <form action="/daftar-penjualan" method="get">
        <input type="submit" value="Daftar Penjualan" class="btn btn-info">
    </form>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>