<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <th>Nomor</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Aksi</th>
        </thead>
        <tbody>
            <% if(obj) { %>
                <% var i = 1 %>
                <% obj.forEach(function(obat) { %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= obat.nama %></td>
                        <td><%= obat.harga %></td>
                        <td><%= obat.jumlah %></td>
                        <td>
                            <form action="/add-keranjang" method="post">
                                <input type="text" name="id" value="<%= obat.id %>" hidden>
                                <input type="number" name="qty" placeholder="qty">
                                <input type="text" name="nama" id="" value="<%= obat.nama %>" hidden>
                                <input type="text" name="harga" id="" value="<%= obat.harga %>" hidden>
                                <input type="submit" value="Tambah ke Keranjang">
                            </form>
                        </td>
                    </tr>
                    <% i++ %>
                <% }) %>
            <% } else { %>
                <h3>Tidak ada obat</h3>
            <% } %>
        </tbody>
    </table>
    <form action="/logout" method="get">
        <input type="submit" value="Keluar">
    </form>
    <form action="/histori" method="get">
        <input type="submit" value="Histori Transaksi">
    </form>
    <form action="/keranjang" method="get">
        <input type="submit" value="Keranjang">
    </form>
</body>
</html>