<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .btn {
            width: 100%;
        }
        #keranjangH2 {
            margin-top: 100px;
        }
    </style>
</head>
<body>
    <form action="/home" method="get">
        <input type="submit" value="Home" class="btn btn-success">
    </form>
    <h2 id="keranjangH2">Keranjang</h2>
    <table class="table table-hover">
        <thead>
            <th>Nomor</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Qty</th>
            <th>Total</th>
        </thead>
        <tbody>
            <% if(obj.length > 0) { %>
                <% var i = 1 %>
                <% var total = 0 %>
                <% obj.forEach(function(obat) { %>
                    <tr>
                        <td><%= i %></td>
                        <td><%= obat.nama %></td>
                        <td><%= obat.harga %></td>
                        <td><%= obat.qty %></td>
                        <td><%= parseInt(obat.harga)*parseInt(obat.qty) %></td>
                        <% total = total + parseInt(obat.harga)*parseInt(obat.qty) %>
                    </tr>
                    <% i++ %>
                <% }) %>
                <%= total %>
            <% } else { %>
                <tr>
                    <td colspan="5" class="text-center">Tidak ada obat</td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <% if(obj.length > 0) { %>
        <h3>Total: <%= total %></h3>
        <form action="/buy-obat" method="post">
            <input type="submit" value="Beli">
        </form>
    <% } %>
</body>
</html>